<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGI_CAFETERIALOSTRESGOLPES.Properties.Settings.SGI_CafeteriaLosTresGolpesConnectionString"
            connectionString="Data Source=EMILBATISTA2009\EXSIRIUSXD;Initial Catalog=SGI_CafeteriaLosTresGolpes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>